
EarthquakeInfo.xcodeproj/project.xcworkspace/contents.xcworkspacedata

*.xcuserstate

*.xcbkptlist

*.xcscheme

EarthquakeInfo.xcodeproj/xcuserdata/xukj.xcuserdatad/xcschemes/xcschememanagement.plist

*.xcsettings
